@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --oddTask: rgb(199, 241, 241);
    --evenTask: rgb(140, 245, 245);
    --plannedBg: rgb(236, 177, 177);
    --progressBg: rgb(182, 182, 226);
    --testingBg: rgb(223, 223, 192);
    --deployBg: rgb(161, 192, 161);
}
.planned{
    background-color: var(--plannedBg);
}
.progress{
    background-color: var(--progressBg);
}
.testing{
    background-color: var(--testingBg);
}
.deploy{
    background-color: var(--deployBg);
}

body{
    background-color: #edf2f9;
    font-family: 'Open Sans', sans-serif;
}
.kanban{
    width: 100%;
    text-align: center;
}
.kanban__header{
    padding: 10px;
}
.kanban__board{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.tasks__list{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.tasks__list--task{
    display: inline-table;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

}
.tasks__list>.tasks__list--task:nth-child(odd){
    background-color: var(--oddTask);
}
.tasks__list>.tasks__list--task:nth-child(even){
    background-color: var(--evenTask);
} 
.kanban__form{
    display: flex;
    flex-direction: column;
}

.kanban__form--input{
    padding:10px;
    border: none;
    border-radius:10px;
    width: 30%;
    margin: 10px;
}
.col{
    border-radius: 10px;
    flex-grow: 1;
}
.kanban__column{
    border-top: 3px solid rgb(12, 12, 12);
    position: relative;
flex-grow: 0;
}

.kanban__column h3{
    font-size: 25px;
}

.button{
    cursor: pointer;
    transition: .2s box-shadow;
    margin: 10px;
    background: transparent;
    border-radius: 50%;
    padding: 5px;
}
.kanban__form--button {
    border: none;
    background-color: #5cf37f;
    padding: 5px 50px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    margin: 10px auto!important;
}
.kanban__form--errors{
    color: red;
}
.button:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}
.tasks__list--task{
    list-style: none;
    text-align: left;
    position: relative;
}
.task__button--panel{
    text-align: right;
}
.task__author{
    font-size: 13px;
    position: absolute;
    top: 5px;
    right: 10px;
}
.task__title{
text-align: center;
}